table{
    border-collapse: collapse;
    width:300px;
    margin-left: auto;
    margin-right:auto;
}

td{
    width:100px;
    height:100px;

    border:1px solid black;
}

.top{
    border-top:2px solid white;
}

.bottom{
    border-bottom:2px solid white;
}

.left{
    border-left:2px solid white;
}

.right{
    border-right:2px solid white;
}